@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  --main-colour: rgb(255, 255, 255);
  --before-click: rgba(64, 255, 64, 0.6);
  --after-click: rgb(64, 255, 64);
  --clear-before: rgba(255, 64, 64, 0.6);
  --clear-after: rgba(255, 64, 64);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-colour);
  margin: 3rem auto;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(41, 41, 41, 0.712);
}

.container .clear-completed {
  align-self: flex-end;
}

.todo {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  text-shadow: 2px 2px 5px #48ff0085;
}

.todo::after {
  display: block;
  position: absolute;
  content: '';
  width: 20%;
  height: 4px;
  border-radius: 4px;
  left: 40%;
  background: var(--after-click);
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

.todo-input,
.todo-btn,
.clear-completed {
  padding: 0.3rem;
  font-size: 2rem;
  border: 0;
}

.todo-input {
  outline: none;
  border-bottom: 2px solid var(--before-click);
  background-color: var(--main-colour);
  transition: border-bottom 0.3s linear;
}

.todo-input:focus {
  outline: none;
  border-bottom: 2px solid var(--after-click);
}

.todo-btn,
.clear-completed {
  border-radius: 6px;
  text-transform: capitalize;
  transition: background-color 0.3s linear;
  font-weight: 600;
}

.todo-btn {
  background-color: var(--before-click);
}

.todo-btn:hover {
  cursor: pointer;
  background-color: var(--after-click);
}

.todo-list {
  width: 72%;
  margin: 1rem auto;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.clear-completed {
  font-size: 1rem;
  margin: 1rem 4rem;
  width: 30%;
  background-color: var(--clear-before);
  transition: background-color 0.2s linear;
}

.clear-completed:hover {
  cursor: pointer;
  background-color: var(--clear-after);
}

.each-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-info {
  display: flex;
  align-items: center;
}

input.check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.edit-item {
  border: none;
  font-size: 1.3rem;
}
.edit-item:hover {
  cursor: pointer;
}

.edit-icon {
  background-color: var(--main-colour);
}

@media only screen and (max-width: 930px) {
  .container {
    width: 90vw;
  }

  .controls {
    flex-direction: column;
  }

  .todo-input {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .todo-btn {
    width: 120px;
    margin: 0 auto;
  }

  .todo-list {
    width: 90%;
  }

  .clear-completed {
    width: 50%;
    margin-right: 2rem;
  }
}
